/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Apr 2021, 11:09:38
    Author     : nelsonrogers
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

/* Navbar section */
.nav {
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  font-size: 10px;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: black;
}

.dropdown .dropbtn {
  display: none;
}

.dropdown-content a {
  float: right;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  padding: 32px 16px;
  font-family: "Nunito";
  font-size: 25px;
  text-decoration: none;
  display: inline-flex;
  text-align: center;
}

.dropdown-content a:hover {
  font-family: "Nunito Sans";
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: auto;
}

/* Media query section */

@media screen and (max-width: 1300px) {
  /* The dropdown container */
  .dropdown {
    z-index: 999;
    color: white;
    overflow: hidden;
  }

  /* Dropdown button */
  .dropdown .dropbtn {
    display: block;
    z-index: 500;
    font-family: "Nunito";
    font-size: 35px;
    width: 100%;
    position: relative;
    top: 0px;
    height: 80px;
    border: none;
    outline: none;
    color: white;
    padding: 30px 16px;
    background: transparent;
  }

  /* Add a red background color to navbar links on hover */
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    font-family: "Nunito Sans";
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    font-family: "Nunito Sans";
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 150px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Nunito Sans";
}

p {
  font-size: large;
}

a {
  cursor: pointer;
}

body {
  font-family: "Nunito";
  background-image: url("/BG2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#p1 {
  text-align: center;
  margin-left: 28%;
  margin-right: 28%;
  font-size: 25px;
}

#p2 {
  text-align: center;
  margin-left: 28%;
  margin-right: 28%;
  font-size: 25px;
}

img {
  width: auto;
  height: 90px;
  float: left;
}

.renvoi {
  margin-left: 28%;
  margin-right: 28%;
  width: 100px;
  height: auto;
}

