/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Apr 2021, 10:42:39
    Author     : nelsonrogers
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

.navbar {
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: black;
}

.navbar a {
  font-family: "Nunito";
  min-width: 300px;
  float: right;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 35px;
}

#infos {
  padding-left: 90px;
  padding-right: 90px;
}

.navbar a:hover {
  background-color: white;
  height: 100%;
  color: black;
}

.navbar a.active {
  color: black;
  font-family: "Nunito Sans";
}

.navbar img {
  height: 100%;
  width: auto;
  border: none;
  position: absolute;
  float: left;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 150px;
  font-size: 55px;
  font-weight: bold;
  font-family: "Nunito Sans";
}

p {
  font-size: large;
}

body {
  font-family: "Nunito";
  background-image: url("/BG2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#p1 {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 25px;
}

#reseaux {
  margin: auto;
  width: 992px;
}

.res {
  border: solid;
  padding: 1px;
  border-width: 1px;
  margin-bottom: 20px;
  height: 90px;
  background-color: white;
}

img {
  width: auto;
  height: 90px;
  float: left;
}

.souhait {
  font-family: "Nunito Sans";
  position: relative;
  margin-left: 105px;
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.volonte {
  position: relative;
  margin-left: 105px;
  font-size: 1.2em;
  margin-top: 5px;
  width: 650px;
}

.renvoi {
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 1.4em;
  padding-right: 5px;
  padding-bottom: 40px;
  color: black;
  float: right;
}
