<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Connexion</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/connexion.css}" href="../static/css/connexion.css" />


        <div class="header" id="myHeader">
            <img src="/Logo.png" alt="Legac.e">
            <h1>Page de connexion</h1>
        </div>
    </head>
    <body>
      
        <form method="POST" th:action="@{/espaceUtilisateur}" action="#" class="form-signin">
            <div class="form-group" th:classappend="${#strings.isEmpty(error) ? 'has-error' : ''}">
                <div id="div-mail">
                    <input id="mail" name="username" type="text" placeholder="Adresse mail" autofocus="true"/>
                </div>
                <div id="div-mdp">
                    <input id="mdp" name="password" type="password" placeholder="Mot de Passe" />
                </div>
                <span th:text="${error}">Message d'erreur</span>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div id="div-suivant">
                    <button id="suivant" class="btn btn-lg btn-primary btn-block" type="submit">Suivant</button>
                </div>
            </div>
        </form>
        <input th:href="@{/welcome}" type="button" id="Menu" value="Revenir au menu principal" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    </body>
</html>
