<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Static Template</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/connexion.css}" href="../static/css/connexion.css" />


        <div class="header" id="myHeader">
            <img src="/Logo.png" alt="Legac.e">
            <h1>Page de connexion</h1>
        </div>
    </head>
    <body>
        <form method="POST" th:object="${userForm}" th:action="@{/login}" class="form-signin">
            <div class="form-group" th:classappend="${#strings.isEmpty(error) ? 'has-error' : ''}">
                <div id="div-mail">
                    <input id="mail" name="adresseMail" type="text" placeholder="Adresse mail" autofocus="true"/>
                </div>
                <div id="div-mdp">
                    <input id="mdp" name="mdp" type="password" placeholder="Mot de Passe" />
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div id="oublie">
                    <a href="" id="mdp-oublie">Mot de passe oublié ?</a>
                </div>
                <div id="div-suivant">
                    <button id="suivant" class="btn btn-lg btn-primary btn-block" type="submit">Suivant</button>
                </div>
            </div>
        </form>
        <input type="button" id="Menu" value="Revenir au menu principal" />
    </body>
</html>
