<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Préférences Twitter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/donnesTwitter.css}" href="donnesTwitter.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" /><link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <div class="navbar">
        <img src="/logoNavbar.png" />
        <p id="titrenavbar">Connexion à Twitter</p>
    </div>
</head>
<body>
    <div id="parametres">
        <h1>Paramétrez vos préférences réseaux</h1>
        <form th:action="@{/donnesTwitter}" th:object="${volonte}" method="POST" id="para">
            <div class="IDTweet" >
                <p>Vous pouvez ici indiquer l'ID du tweet que vous voulez retweeter à votre décès. Si le tweet est supprimé avant votre décès, il n'y aura aucune action sur votre compte</p>
                <input type="number" id="IDRT" name="idTweet" th:field="*{idTweet}" placeholder="ID du tweet">
            </div>
            <div class="MP">
                <p>Vous pouvez ici indiquer le destinataire ainsi que le contenu du Message privé que vous voulez envoyer à votre décès.</p>
                <input type="text" id="UNDestinataire" name="usernameDestinataire" th:field="*{usernameDestinataire}" placeholder="@usernameDuDestinataire">
                </br>
                <textarea id="ContenuMP" name="message" th:field="*{message}" placeholder="Tapez le contenu du MP que vous voulez envoyer"></textarea>
            </div>
            <p><button type="submit" id="Bvalidation">Valider les choix</button></p>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
    </div>
    <a id="retour" href="../welcome.html" th:href="@{/}">Retour à la page principale</a>
</body>
</html>
