<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/espaceUtilisateur.css}" href="../static/css/espaceUtilisateur.css" />

    <title>Espace utilisateur</title>
    <div class="navbar">
        <img src="/Logo.png" />

        <a id="tuto" href="legace/utilisateur" class="tutorielsU" target="_blank"
        >Tutoriels</a
        >
        <a id="souvenir" href="legace/famille" class="souvenirsU" target="_blank"
        >Page souvenir</a
        >
        <a id="infos" href="legace/compte" class="informationU" target="_blank"
        >Informations utilisateur</a
        >
    </div>
</head>
<body>
<h1>Bienvenue dans l’espace utilisateur de Legac.e</h1>
<div id="texteAccueil">
    <p>
        Retrouvez ici toutes les informations importantes de votre compte dans
        l’onglet « Informations utilisateur ».
    </p>
    <br />
    <p>
        Des tutoriels sont mis à votre disposition dans l’onglet « Tutoriels »
        afin de paramétrer le futur de vos données numériques.
    </p>
    <br />
    <p>
        Vous pourrez également créer une « Page souvenir » à laquelle vos
        proches auront accès dans l’onglet du même nom.
    </p>
</div>
</body>
</html>
