<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="pageSouvenir.css" />
        <title>Page souvenir</title>
        <div class="navbar">
          <img src="images/Logo.png" />

          <a id="tuto" href="legace/utilisateur" class="tutorielsU" target="_blank">Tutoriels</a>
          <a id="souvenir" href="legace/famille" class="souvenirsU" target="_blank">Page souvenir</a>
          <a id="infos" href="legace/compte" class="informationU" target="_blank">Informations utilisateur</a>
        </div>
  </head>
  <body>
        <h1>Creéz une page souvenir à laquelle vos proches pourront accéder</h1>

        <p id="p1">Vous pouvez insérer des images, des vidéos ou des textes de votre choix auxquels vos proches auront accès une fois que ce compte leur sera ouvert.</p>
        <br><br>
        <div id="ajouteFichiers">
        <label id="label-file" for="joindre">JOINDRE UN FICHIER</label><br> <br>
        <input type="file" id="joindre" name="joindre">
        <p>Vos fichiers déjà insérés : </p>
        <div id="fichiers">Fichiers ajoutés apparaitront ici <br><a href="">Fichier1</a></div>
        </div>
        <div id="zoneTexte">
        <p>Écrivez un texte à vos proches : </p>
        <textarea name="texte" id="texte" cols="30" rows="20"></textarea>
        </div>



  </body>
</html>