<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" /><link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>Préférences Réseaux</title>
    <div class="navbar">
      <img src="/logoNavbar.png" />

      <a id="tuto" href="legace/utilisateur" class="tutorielsU" target="_blank"
        >Tutoriels</a
      >
      <a id="souvenir" href="legace/famille" class="souvenirsU" target="_blank"
        >Page souvenir</a
      >
      <a id="infos" href="legace/compte" class="informationU" target="_blank"
        >Informations utilisateur</a
      >
    </div>
  </head>
  <body>
    <h1>Retrouvez les volontés de votre proche ici</h1>
    <p id="p1">
      Vous trouverez ici comment respecter les volontés de votre proche,
      vis-à-vis de ses données numériques.
    </p>
    <br /><br />
    <div id="reseaux">
      <div class="res">
        <img id="logopaypal" src="/paypal.png"></img>
          <p class="souhait">Votre proche a souhaité :</p>
          <a class="renvoi" href="legace/tutoriel/paypal">Tutoriel</a>
          <p class="volonte" id="spaypal">Je souhaite que ma famille recoive le formulaire pour fermer mon compte à ma mort</p>
    </div>
    <div class="res">
        <img  src="/pinterest.jpeg"></img>
          <p class="souhait">Votre proche a souhaité :</p>
          <a class="renvoi" href="legace/tutoriel/pinterest">Tutoriel</a>
          <p class="volonte" id="spinterest">Je souhaite que ma famille recoive le formulaire pour fermer mon compte à ma mort</p>
    </div>
        <div class="res">
          <img  src="/facebook.png"></img>
            <p class="souhait">Votre proche a souhaité :</p>
            <a class="renvoi" href="legace/tutoriel/facebook/commemoration">Tutoriel</a>
            <p class="volonte" id="sfacebook">Je souhaite avoir accès à la procédure pour transformer mon compte en compte de commémoration</p>
      </div>
      <div class="res">
          <img  src="/twitter.png"></img>
          <p class="souhait">Votre proche a souhaité :</p>
          <a class="renvoi" href="legace/tutoriel/twitter/commemoration">Tutoriel</a>
          <p class="volonte" id="stwitter">Je souhaite avoir accès à la procédure pour transformer mon compte en compte de commémoration</p>
      </div>
      <div class="res">
          <img  src="/insta.jpeg"></img>
          <p class="souhait">Votre proche a souhaité :</p>
          <a class="renvoi" href="legace/tutoriel/instagram/commemoration">Tutoriel</a>
          <p class="volonte" id="sinstagram">Je souhaite avoir accès à la procédure pour transformer mon compte en compte de commémoration</p>
      </div>
    </div>
  </body>
</html>