<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connectez-vous à Twitter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/twitterConnect.css}" href="twitterConnect.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" /><link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <div class="navbar">
        <img src="/logoNavbar.png" />
        <p id="titrenavbar">Connexion à Twitter</p>
      </div>
</head>
<body>
    <div class="container" id="connexion">
        <h1>Connectez-vous à Twitter</h1>
        <form th:action="@{/connect/twitter}" method="POST">
            <p>Vous n'êtes pas encore connecté à Twitter.</p>
            <img src="/twitter.png" id="logotwitter"></img>
            <p><button type="submit" id="Bconnexion">Se connecter</button></p>
        </form>
    </div>
    <a id="retour" href="../welcome.html" th:href="@{/}">Retour à la page principale</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>
